html {
	scroll-behavior: smooth;
}

body {
	margin: 0 !important;
}

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: blue transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: aquamarine;
	border-radius: 0px;
	height: 1px;
	border: 6px solid black;
}

footer,
a,
canvas {
	margin: 0 !important;
	padding: 0 !important;
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	color: #363636;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
	font-family: "VT323", monospace;
}

#mute {
	font-size: 32px;
	color: greenyellow;
	z-index: 9999;
	text-shadow: -4px 4px black;
}

.score,
#score_text {
	position: fixed;
	top: 0;
	right: 0;
	font-size: 60px;
	z-index: 100;
	font-weight: 900;
	padding: 10px;
	/* border: 5px solid red; */
	font-family: "VT323", monospace;
	color: aliceblue;
	text-shadow: -5px 5px black;
	border-radius: 4px;
}

#pause-button-holder {
	position: fixed;
	top: 0;
	left: 0;

	z-index: 100;
	font-weight: 900;
	padding: 10px;
	/* border: 5px solid red; */
	font-family: "VT323", monospace;
	color: aliceblue;
	text-shadow: -5px 5px black;
	border-radius: 4px;
}

#pause-button {
	font-size: 72px;
	cursor: crosshair;
}

.health {
	position: fixed;
	top: 50px;
	right: 0;
	font-size: 40px;
	z-index: 100;
	font-weight: 900;
	padding: 10px;
	/* border: 5px solid red; */
	font-family: "VT323", monospace;
	color: aliceblue;
	text-shadow: -5px 5px black;
	border-radius: 4px;
}
/* ß */

#webgl {
	z-index: 90;
}

.full-screen {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#intro-screen {
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 102;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	/* border: 1px greenyellow dashed; */
}

#game-over-screen {
	background-color: rgba(255, 99, 71, 0.25);
	z-index: 101;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-shadow: -3px 3px black;
	border: 1px greenyellow dashed;
}
#final-score-holder,
#current-score-holder {
	font-size: 100px;
	text-shadow: -2px 2px white;
}

#level-zero-intro-screen,
#level-zero-complete-screen {
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: dimgray;
	z-index: 101;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-shadow: -3px 3px black;
}

#paused-screen {
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(105, 105, 105, 0.075);
	z-index: 101;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	text-shadow: -3px 3px black;
}

#start-game-button,
#restart-level-button,
#back-to-home-button,
#resume-button,
#restart-button {
	/* display: inline; */
	margin: 5px;
	font-weight: 800;
	font-size: 64px;
	width: fit-content;
	align-self: center !important;
	/* height: 40px; */
	color: greenyellow;
	padding: 6px 10px;
	outline: none;
	border: 3px solid bisque;
	background-color: transparent;
	text-shadow: -4px 4px black;
	/* border-radius: 5px; */
	cursor: crosshair;
}

#start-game-button:hover {
	color: aqua;
}

#instructions {
	color: aliceblue;
	font-family: "VT323", monospace;
	font-size: 28px;
	text-align: center;
	text-shadow: -4px 4px black;
}

.level-title,
#game-title,
.level-complete-title {
	color: aquamarine;
	font-weight: 900;
	font-size: 50px;
	font-family: "VT323", monospace;
	border-bottom: 5px aqua solid;
	margin: 5px;
	text-shadow: -2px 2px white;
}

#page_static {
	background-size: 600px 600px;
	position: absolute;
	z-index: 500;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.1;
	z-index: 105;
	pointer-events: none;
	transform: translateZ(0);
	background-image: url("./assets/gifs/static.gif");
}

.dg {
	z-index: 9999 !important;
	font-family: "Courier New", Courier, monospace !important;
	font-size: 16px !important;
	font-weight: 800 !important;
}

.district-picker {
	background: black;
	/* position: absolute; */

	/* overflow-x: auto; */

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.district-picker .banner {
	position: relative;
	font-size: 108px;
	color: aquamarine;
	text-shadow: -1px 1px violet;
	border-bottom: 3px solid aliceblue;
}

.district-picker .districts-holder {
	/* border: 1px blueviolet solid; */

	height: 40vh;
	overflow-x: scroll;
	scroll-behavior: smooth;
	/* position: absolute; */
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	/* justify-content: center; */
	align-items: center;
	gap: 10px;
}

.district {
	height: 85%;
	width: 320px;
	/* position: absolute; */

	flex: none;

	/* border: 2px solid green; */

	/* margin: 0 10px; */

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.district .district-name {
	color: cadetblue;
	text-shadow: -1px 1px violet;
	font-size: 32px;
}

.district .district-image {
	height: 80%;
	width: 80%;
	display: flex;
	align-items: center;
	/* border: px solid rebeccapurple; */
}

.district .district-image img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.district .district-image .coming-soon {
	color: grey;
	font-size: 64px;
	margin: auto;
	text-align: center;
}

.district .district-enter-button {
	width: 100%;
	display: flex;
	justify-content: center;
}

.district .district-enter-button button {
	font-size: 36px;
	background-color: transparent;
	color: aquamarine;
	border: 1px solid gray;
	width: 75%;

	cursor: crosshair;
}
